results/
out/
.DS_Store
#.qtenvrc
#.settings
SdSFullOffloading
#*.xml
*_dbg
core
__pycache__

# Check if should be tracked (seems not for now)
#.cproject
#.nedexclusions
#.nedfolders
#.oppbuildspec

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
